[Unit]
Description=Surat Municipal Vehicle Tracking Dashboard
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/sunny_bro
Environment="PATH=/home/ubuntu/sunny_bro/venv/bin"
ExecStart=/home/ubuntu/sunny_bro/venv/bin/gunicorn --workers 3 --bind 127.0.0.1:5001 --timeout 300 wsgi:app

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
